<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aniketudit.udit.pmma">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.aniketudit.udit.pmma.MainActivity">
        </activity>
        <activity android:name="com.aniketudit.udit.pmma.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.aniketudit.udit.pmma.Inactive" />
        <activity android:name="com.aniketudit.udit.pmma.SignUp" />
        <activity android:name="com.aniketudit.udit.pmma.Active" />
        <activity
            android:name="com.aniketudit.udit.pmma.Selection"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.aniketudit.udit.pmma.UploadImages"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="unspecified"/>
        <activity
            android:name="com.aniketudit.udit.pmma.ProjectReview"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="unspecified" />
        <activity android:name="com.aniketudit.udit.pmma.UserProfile" />
        <activity android:name="com.aniketudit.udit.pmma.ProjectUpdateStatus" />
        <activity
            android:name="com.aniketudit.udit.pmma.SelectCity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="unspecified" />
        <activity android:name="com.aniketudit.udit.pmma.OtherProfile" />
    </application>

</manifest>